{% if section.settings.heading %}

<h2>{{ section.settings.heading }}</h2>
{% endif %}
{%  form 'contact', id: 'ContactForm' %}
      {%- if form.posted_successfully? -%}
        <p>Your message has been sent</p>
     
  
      {%- elsif form.errors -%}
    {{ form.errors | default_errors }}
      {%- endif -%}

      {% for block in section.blocks %}
        {% if block.type == "input" %}
                <div>
        <label for="{{ block.settings.id }}">{{ block.settings.label }}</label>
    <input type="{{  block.settings.type }}" name="contact[{{ block.settings.name }}]" id="{{ block.settings.id }}" placeholder="{{  block.settings.placeholder }}" value="{% if form[block.settings.name] %}{{form[ block.settings.name]}}{% endif %}">
    </div>
            {% endif %}
        {% endfor %}
    

      <div>
        <label for="last_name">Last Name</label>
    <input type="text" name="contact[last_name]" id="last_name"  placeholder="enter your last name" value="{% if form.last_name %}{{form.last_name}}{% endif %}">
    </div>
      <div>
        <label for="email">email</label>
    <input type="text" name="contact[email]" id="email"  placeholder="Email@email.com" value="{% if form.email %}{{form.email}}{% endif %}">
    </div>
      <div>
        <label for="order_number">order number</label>
    <input type="text" name="contact[order_number]" id="order_number"  placeholder="order number" value="{% if form.order_number %}{{form.order_number}}{% endif %}">
    </div>
      <div>
        <label for="order_type">order type</label>
    <select name="contact[order_type]" id="order_type" >
        <option {%  if form.order_type == "product"%}selected{% endif %} value="product">Product</option>
        <option {%  if form.order_type == "service"%}selected{% endif %}value="service">service</option>
    </select>
    </div>
  <div>
        <label for="message">message</label>
    <textarea type="text" name="contact[message]" id="message" required placeholder="type our message"></textarea>
    </div>
    <div>
       
      <input type="checkbox" name="contact[extra_info]" id="extra_info"  {% if form.extra_info %}checked{% endif %}>
      <label for="extra_info">Hotsauce</label>
    </div>

    <div>
        <button type="submit">contact us</button>
    </div>

    
  
{% endform %} 
{% schema %}
{
    "name": "Custom Contact Form",
    "settings": [
        {"type": "text",
            "label": "Heading text",
            "id": "heading",
        }

    ],
    "blocks": [
        {
            "name": "Input",
            "type": "input",
            "settings": [
                {
                    "type": "text",
                    "id": "name",
                    "label": "Name"
                },
                {
                    "type": "text",
                    "id": "placeholder",
                    "label": "Placeholder"
                },
                {
                    "type": "text",
                    "id": "label",
                    "label": "Label"
                },
                {
                    "type": "text",
                    "id": "id",
                    "label": "Id"
                }, {
                    "type": "text",
                    "id": "type",
                    "label": "Type"
                }, 
                
            ]
        }
    ],
    "presets": [ {
        "name": "Custom Contact Form"
    }
    ]
}

 {% endschema %}