<div class="width">
    <div class="specs-table">
        <div class="specs-table-row">
            <h2>{{  section.settings.row1lable }}</h2>
            <p> {{ section.settings.row1value }}</p>
        </div>
        <div class="specs-table-row">
            <h2>{{ section.settings.row2lable }}</h2>
            <p> {{ section.settings.row2value }}</p>
        </div>
        <div class="specs-table-row">
            <h2> {{ section.settings.row3lable }}</h2>
             <p> {{ section.settings.row3value }}</p>
        </div>
    </div>
</div> 

 {% schema %}
 {
    "name": "specs",
    "settings": [
        {
            "type": "text",
            "id": "row1lable",
            "label": "Row 1 Label"
        },
          {
            "type": "text",
            "id": "row1value",
            "label": "Row 1 Value"
        },
          {
            "type": "text",
            "id": "row2lable",
            "label": "Row 2 Label"
        },  {
            "type": "text",
            "id": "row2value",
            "label": "Row 2 value"
        },  {
            "type": "text",
            "id": "row3lable",
            "label": "Row 3 Label"
        },  {
            "type": "text",
            "id": "row3value",
            "label": "Row 3 value"
        }, 
      
    ], 
    "presets": [
        {
            "name": "Specs",
            "category": "Custom"
        }
    ]
}
 {% endschema %}

 <style>
  .specs-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.specs-table-row:last-child {
  border-bottom: none;
}

.specs-table-row h2 {
  margin: 0;
  text-align: right;
}

.specs-table-row p {
  margin: 0;
  text-align: left;
}

</style>